@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url("https://fonts.googleapis.com/css?family=Righteous");

#title {
  font-family: "Press Start 2P", cursive;
  text-shadow: 1px 1px 1px #333;
  font-size: 40px;
}

.main-font {
  font-family: "Fredoka One", cursive;
}

.falling-letters {
  font-family: "Fredoka One", cursive;
  font-size: 120px;
}

#falling-title {
  font-family: "Fredoka One", cursive;
  font-size: 35px;
}

#spring-title {
  font-family: "Fredoka One", cursive;
  font-size: 80px;
}

#spring-index {
  font-family: "Fredoka One", cursive;
  font-size: 35px;
}

#spring-number {
  font-family: "Fredoka One", cursive;
  font-size: 60px;
}

#keyframes-title {
  font-family: "Righteous", cursive;
  font-size: 35px;
}

#nav-trails {
  font-family: "Righteous", cursive;
  font-size: 35px;
  width: 500px;
  box-shadow: 2px 2px 5px #333;
  background-color: "lightgrey";
  padding-left: 15px;
}

#test {
  background-color: green;
  height: 500px;
  width: 500px;
}
